.analysis_template
{
 width:100%;
 height:18%;
 font-weight: bold;
 text-align:center;
 position:relative;
 
}
.accuracy_attempted_ques
{
 
	float: left;
	width: 100%;
	border-right: 1px solid #AAA;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #AAA;
}
.accuracy_sub_eff
{
	float: left;
	width: 100%;
	border-right: 1px solid #AAA;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #AAA;
}
.accuracy_sub_avg_time
{
	float: left;
	width: 100%;
	border-right: 1px solid #AAA;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #AAA;
}



.accuracy_chap_attempted_ques
{
 
	float: left;
	width: 30%;
	border-right: 1px solid #AAA;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #AAA;
}
.accuracy_chap_eff
{
	float: left;
	width: 40%;
	border-right: 1px solid #AAA;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #AAA;
}
.accuracy_chap_avg_time
{
	float: left;
	width: 30%;
	border-right: 1px solid #AAA;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #AAA;
}
.chapter_analysis_template
{
 width:100%;
 height:18%;
 text-align:center;
 position:relative;
}
.button-todaysAnalysis {
            background: rgb(28, 184, 65); /* this is a green */
}