.top-blue{
  background-color: #55bbea;
  -webkit-box-shadow: inset 0 -1px 0 #55bbea,0 1px 0 rgba(0,0,0,0.1),0 1px 7px rgba(0,0,0,0.18);
  box-shadow: inset 0 -1px 0 #55bbea,0 1px 0 rgba(0,0,0,0.1),0 1px 7px rgba(0,0,0,0.18);
  color: #f3f4f5;
}
.app-content{
  font-family:Verdana, Geneva, sans-serif;
  background-color:#fff;
}
.about-content{
  padding:1rem;
  font-size:0.75rem;
}
.about-content h3{
  margin-bottom:0;
}
.app-topbar .app-title{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);    /* Older Gecko browser */
  -ms-transform: translate(-50%, -50%);     /* IE9+ */
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.active-about-tab{
    color:#55bbea;
}
#notifications-content li{
  margin: 1rem 0.1rem;
}
ol li{
  margin-bottom:1rem;
}
.student_signup_form{
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* === HTML5 validation styles === */
.contact_form input:required, .contact_form textarea:required {
  background: #fff url(../images/red_asterisk.png) no-repeat 98% center;
}
.contact_form input:required:valid, .contact_form textarea:required:valid {
  background: #fff url(../images/valid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
  background: #fff url(../images/invalid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535
}
.error {
    color:red;
    display:none;
}
/*===========================================*/
.modalDialog {
  //position: fixed;
  position: absolute;
  
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
 
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width:90%;
  overflow: scroll;
  position: relative;
  margin: 30% auto;
  padding: 1px 14px 23px 14px;
  border-radius: 10px;
  background: gray;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
  
}
/*===========================================*/